@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Source+Sans+Pro:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}

/* NAVBAR STYLE */
.navbar{
    background-color:white !important;
}
.nav-link{
    font-weight:bold !important;
    font-size:16px;
    color: #202124 !important;
    font-family: 'Assistant', sans-serif !important;
}

.nav-item{
    margin: 0 18px;
}
.dropdown-menu a{
    font-weight:bold !important;
    font-family: 'Assistant', sans-serif !important;
}
.dropdown-menu a:focus{
    background-color:rgb(224, 34, 34);
}
/* ABOUT US STYLE */
.about-row{
    background: #dfdfdf;
}
.about-header{
    margin-top: 2em;
    padding-top: 20px 6px;
    display:flex;
    flex-flow: row wrap;
    font-family: 'Fjalla One', sans-serif;
}
.about-header h1{
    font-weight: bold;
}
.fa-star{
    color: rgb(224, 34, 34);
}

.about-header span{
    color: rgb(224, 34, 34);
}
.about-text{
    padding: 14px 6px;
    display:flex;
    flex-flow: row wrap;
    font-family: 'Fjalla One', sans-serif;
    text-transform: lowercase;
    
}
.about-text span{
    font-size: 24px;
    text-transform:capitalize;
}
.about-text strong{
    color: rgb(224, 34, 34);
    font-size: 22px;
}

/* CATEGORY HEADER STYLE */
.categories-header h2{
    font-weight: bold;
    padding: 0px 6px;
    font-family: 'Fjalla One', sans-serif;  
}
hr{
    border-top: 2px solid rgb(54, 54, 54) !important;
}

/* CARD STYLE */
.card-container{
    display: flex;
    flex-flow: row wrap;
    text-align: center !important;
}
.card-img{
    width: 100% !important;
}
.card{
    margin: 12px 30px;
    text-align: center !important;
    width: 25%;
    border-radius: 8px !important;
    font-family: 'Fjalla One', sans-serif;
}
.card-header{
    background-color: #202124 !important;
}
.card-item-link{
    color: white;
}
.card-item-link:hover{
    text-decoration: none;
    color: rgb(223, 33, 33);
}

/* CONTACTUS STYLE */
.contactus-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 3em;
    margin-bottom:4em;
    
}
.contactus-container-left{
    margin-top: 3em;
    width: 45%;
    padding-right: 2em;
    border-right: 0.5px solid #2021241f !important;
    
}
.contactus-header{
    font-family: 'Fjalla One', sans-serif;
}
.form-control{
    
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #202124 !important;
    background-color: #fff !important;
}
.form-control:focus{
    box-shadow:none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid rgb(228, 11, 11)!important;
}
.contactus-container-right{
    margin-top: 3em;
    width: 30%;
    margin-left: 2em;
    font-family: 'Fjalla One', sans-serif;

}
.form-textarea{
    border: 1px solid #202124 !important;
    max-height: 18em;
}

/* FOOTER STYLE */
.footer-container{
    display: flex;
    justify-content: space-around;
    background-color:#202124;
    color: white;
    padding:5em;
    font-family: 'Fjalla One', sans-serif;
    
}
.footer-category{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
.footer-menu{
    list-style-type: none;
}
.footer-header{
    color: white;
    font-weight: bold;
}
.footer-link{
    color: white;
    text-decoration: none;
}
.footer-link:hover{
    color: rgb(224, 34, 34);
    text-decoration: none;
}
.location-text{
    margin-left: 8px;
}
.fa-map-marker-alt{
    color: rgb(224, 34, 34) !important;
}
.social-menu{
    list-style-type: none;
}
.social-item{
    float: right;
    padding: 8px ;
    margin-left: 5px;  
}
.social-link{
    color: white;
}
.social-link:hover >.fa-twitter{
    color: #36D8FF
}
.social-link:hover >.fa-facebook{
    color: #3b5998
}
.social-link:hover >.fa-instagram{
    color: rgb(236, 25, 25);
}
/* ABOUT US RESPONSIVE */
@media screen and (max-width:768px){
    .about-text{
        padding: 0px 20px;
    }
    .about-header{
        padding: 0px 20px;
    }
}
    

/* CARD RESPONSIVE */
@media screen and (max-width: 1147px){
    .card{
        width: 38% !important;
    }
}
@media screen and (max-width: 839px){
    .card{
        width: 35% !important;
    }
}
@media screen and (max-width: 768px){
    .card{
        width: 36% !important;
    }
}@media screen and (max-width: 679px){
    .card{
        width: 100% !important;
    }
}
/* FORM TEXTAREA RESPONSIVE */
@media screen and (max-width: 839px){
    .form-textarea{
        height: 18em;
        width: 16em;
    }
    
}
@media screen and (max-width: 768px){
    .contactus-container-right{
        width: 100%;
        margin-top: 0px;
    }
    .form-textarea{
        height: 8em;
        width: 24em;
        
    }
}
@media screen and (max-width: 444px){
    .form-textarea{
        height: 6em;
        width: 16em;
    }
}
@media screen and (max-width: 768px){
    .contactus-container-left{
        width: 90%;
        padding: 2em;
        border-right: none !important;
    }
}

/* FOOTER RESPONSIVE */
@media screen and (max-width:991px){
    .footer-container{
        width: 100%;
        flex-flow: row wrap;
    }
    .footer-logo{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    .footer-category{
        width: 100%;
        justify-content: space-evenly;
        
    }
    .footer-list1{
        margin: 0px 10px;
    }
    .footer-list2{
        margin: 0px 10px;
    }
    .footer-list3{
        margin: 0px 10px;
    }
    .location{
        width:100%;
        text-align:center;
    }
    .location a{
        text-align: center;
    }
    .social{
        text-align:center;
    }
   
}

/*-------------------------NEW PAGE--------------------------*/

.navbar-container{
    text-align:left;
    padding-left: 100px;
    line-height: 50px;
    font-family: 'Fjalla One', sans-serif;
}
.navbar-header{
    padding-left:10px;
    margin: 20px 0px;
    font-weight: bold;
    
}
.vertical-navbar{
    display: inline-block;
}
.vertical-navbar .nav-link{
    padding-left:10px !important;
    margin: 0px !important;
}

.menu-hr{
    width: 85%;
}
.menu-container{
    font-family: 'Fjalla One', sans-serif;
}
.menu-header{
    margin: 16px 30px;
}
.menu-card{
    display: inline-block !important;
}